<h1>Check out our <%= @brand %> Products</h1>
<p>Rather you want to be teleported to Krypton, Wakanda or another demension and world far far away, we have the products for you!</p>


<%= render 'productloop' %>